<h3>Directive attributes</h3>
<div class='row'>
  <h5>Magic box</h5>

  <div parametrized-magic-box='imba!' xxx="yyy = 123"></div>
  <div parametrized-magic-box='qq!' xxx="yyy = 997"></div>
  <div parametrized-magic-box='qq!' xxx="{{yyy}}"></div>
  <parametrized-magic-box ggg="123"></parametrized-magic-box>
  <input ng-model="yyy"/>
</div>

<div class="row">
  <input ng-model="xxx"/>
  <button click-toggle-class="alert tiny" call="xxx = xxx + ' QQ!'">
    test
  </button>
  <button click-toggle-class="success large">
    test 2
  </button>
</div>
